<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
	    <dict>
	        <key>UTTypeIdentifier</key>
	        <string>com.myapp.component-drag</string>
	        <key>UTTypeDescription</key>
	        <string>TankEditor Component Drag Type</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.data</string>
	        </array>
	        <key>UTTypeTagSpecification</key>
	        <dict/>
	    </dict>
	    <dict>
	        <key>UTTypeIdentifier</key>
	        <string>com.myapp.view-drag</string>
	        <key>UTTypeDescription</key>
	        <string>TankEditor View Drag Type</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.data</string>
	        </array>
	        <key>UTTypeTagSpecification</key>
	        <dict/>
	    </dict>
        	    <dict>
	        <key>UTTypeIdentifier</key>
	        <string>com.myapp.nodeRef-drag</string>
	        <key>UTTypeDescription</key>
	        <string>TankEditor SceneNode Drag Type</string>
	        <key>UTTypeConformsTo</key>
	        <array>
	            <string>public.data</string>
	        </array>
	        <key>UTTypeTagSpecification</key>
	        <dict/>
	    </dict>
	</array>
</dict>
</plist>
